.conteiner {
    display: flex;
    
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.decor{
    height: 40px;
    font-size: 30px;
    font-family: 'Regular';
    background: transparent;
    display: flex;
        outline: none;
        border: 0;
        color: rgb(154, 232, 154);
        caret-color: currentColor;
        width: 90%;
}
.buttonSend{
    margin-top: 60px;
    background-color: red;
    width: 100px;
    height: 60px;
   
    font-size: 40px;
    font-family: 'Regular';
}
@font-face {
    font-family: "Regular";
    /*Can be any text*/
    src: local("SemiCondensed"),
        url("../fonts/3270Condensed-Regular.otf") format("truetype");
}