.App {
    background-color: black;
    width: 100%;
    height: 480px;
    font-family: 'Regular';
    font-size: 30px;
}

@font-face {
    font-family: "Regular";
    /*Can be any text*/
    src: local("Condensed"),
        url("./fonts/3270Condensed-Regular.otf") format("truetype");

}

@font-face {
    font-family: "Regular";
    /*Can be any text*/
    src: local("SemiCondensed"),
        url("./fonts/3270SemiCondensed-Regular.otf") format("truetype");
}